body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: cornflowerblue;
    
}
body a{
    color: black;
    
}
.container {
    text-align: center;
    margin-top: 50px;

}

.card {
    display: inline-table;
    margin: 20px;
    border: 2px solid red;
    border-radius: 10px;
    text-align: center;
    background-color: aqua;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}